# Credential Manager secret configuration
# Generate once on the server:
# openssl rand -base64 32

CREDENTIAL_ENCRYPTION_KEY=PASTE_GENERATED_BASE64_KEY_HERE

# AWS S3 configuration
# No AWS access keys are required.
# The application uses the EC2 IAM Role.
AWS_REGION=eu-north-1
AWS_S3_BUCKET=credential-manager-files-787235610586
AWS_S3_PREFIX=uploads
